<h1> Weather </h1>

<%=@weather_today.right_now_temperature %>

<%=@weather_today.right_now_forecast %>

<%=@weather_today.past_24_hr_precipitation %>

<%=@weather_today.today_temperature %>

<%=@weather_today.today_forecast %>

<%=@weather_today.today_rain %>

<%=@weather_today.tonight_temperature %>

<%=@weather_today.tonight_forecast %>

<%=@weather_today.tonight_rain %>